<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      h1 {
        color:  #1d7e9f;
      }
      .content {
        color: #25a0ca;
      }

      .content a {
        text-decoration: none;
        color: #25a0ca;
      }
    </style>
  </head>
  <body>
    <div class="container" id="email" style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">
      <div class="header row" style="background-color: #25a0ca;">
        <div class="row" style="display: table; margin-left: auto; margin-right:auto;">
          <img id="logo" style="width:33.3%; display: block; margin-left: auto; margin-right: auto;" src="http://www.deweytravels.com/assets/logo_transparent.png" style="align: center;">
        </div>
        <div class="row text-center" style="display: table; margin-left:auto; margin-right:auto;">
          <span class="mission col-xs-12" style="font-size:1.5 em; text-align: center; color: white; font-style: italic;">
            explore where your friends have been
          </span>
        </div>
      </div>

      <div class="content">
        <h1>Welcome to Dewey, <%= @user.first_name %>!</h1>

        <div class="section steps">
          Three Steps to Get Started:

          <ol class="rounded-list">
            <li><a href="<%= @login_url %>">Login and explore where your friends have been.</a></li>
            <li><a href="<%= @login_url %>">Where have your been? Complete your profile</a></li>
            <li><a href="#">Tell your friends! The more friends you have on Dewey, the more fun it is!</a></li>
          </ol>
        </div>
        
        <div class="section">
          <p>Thanks for joining and have a great day!</p>
          <p>Dewey Team</p>
        </div>
      </div>
    </div>
  </body>
</html>
