* {
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

body {
  background-color: #25a0ca; }

#main {
  background-color: #25a0ca;
  color: #e7e6dd;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 641px) {
    #main {
      width: 400px;
      position: fixed;
      top: 50px;
      left: 50px;
      max-height: 85%;
      overflow: scroll;
      border: 3px solid #e7e6dd; } }

.list .list-group-item {
  background-color: #25a0ca;
  color: #e7e6dd;
  border: none;
  height: 63px; }
  .list .list-group-item img {
    height: 42px;
    float: left; }
  .list .list-group-item .list-group-item-heading {
    color: #e7e6dd; }
  .list .list-group-item:hover {
    background-color: #1d7e9f; }

.login {
  text-align: center; }
  .login .mission {
    font-size: 2em;
    font-style: italic; }
  .login button {
    margin-top: 20px;
    background-color: #e7e6dd;
    color: #25a0ca; }
    .login button:hover {
      background-color: #dcdbce; }

.nav {
  height: 56px;
  padding: 5px;
  margin-bottom: 10px; }
  .nav #logo {
    height: 100%;
    width: auto;
    float: left; }
  .nav #search {
    background-color: #e7e6dd;
    color: #25a0ca; }

.profile {
  text-align: center; }
  @media (max-width: 641px) {
    .profile {
      margin-bottom: 20px; }
      .profile img {
        margin-bottom: 20px; }
      .profile .name {
        font-size: 3em; }
      .profile .description {
        font-size: 2em;
        font-style: italic; }
      .profile .email {
        font-size: 1.5em; }
      .profile .phone {
        font-size: 1.5em; } }
  @media (min-width: 641px) {
    .profile {
      margin-bottom: 20px; }
      .profile img {
        width: 200px;
        margin-bottom: 5px; }
      .profile .name {
        font-size: 2.5em; }
      .profile .description {
        font-size: 1.5em;
        font-style: italic; }
      .profile .email {
        font-size: 1.2em; }
      .profile .phone {
        font-size: 1.2em; } }

.tags {
  text-align: center; }
  .tags span {
    font-size: 1.1em;
    background-color: #e7e6dd;
    color: #25a0ca;
    display: inline-block;
    border-radius: 3px; }
    @media (max-width: 641px) {
      .tags span {
        padding: 15px;
        margin: 3px; } }
    @media (min-width: 641px) {
      .tags span {
        padding: 5px 10px;
        margin: 3px; } }
    .tags span:hover {
      background-color: #dcdbce;
      cursor: pointer; }
