/* sass constants */

$mobile: 641px;
$white: #e7e6dd;
$gray: #dcdbce;
$blue: #25a0ca;
$dark-blue: #1d7e9f;
$font: "Trebuchet MS", Helvetica, sans-serif;

/* html, body */

html, body {
	height: 100%;
	width: 100%;
}

* {
	font-family: $font;
}

.circular-image {
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.action-link {
	display: block;
	color: $white;
	text-align: center;
	&:hover {
		color: $white;
	}
}

/* topbar */

#top-bar {
	z-index: 1;
	position: fixed;
	height: 5%;
	background-color: $blue;
	width: 100%;
}

/* leftbar */

#left-bar {
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	top: 5%;
	background: $blue;
	height: 95%;
	width: 25%;
}

/* dataviz */

#data-viz {
	position: fixed;
	top: 5%;
	left: 25%;
	height: 95%;
	width: 75%;
	background-color: $white;
}

/* login template */

#login {
	text-align: center;
	#email {
		margin-top: 20px;
	}
	#password, #first_name, #last_name {
		margin-top: 5px;
	}
	input {
		display: inline;
	}
	.mission {
		font-size: 1.5em;
		font-style: italic;
		color: $white;
	}
	button {
		margin-top: 5px;
		background-color: $white;
		color: $blue;
		&:hover {
			background-color: $gray;
		}
	}
}

/* navigation template */

#nav {
	height: 56px;
	padding: 5px;
	margin-bottom: 10px;
	#logo {
		width: 18%;
		max-width: 45px;
		float: left;
	}
	#search {
		width: 75%;
		input {
			margin-left: 5%;
			background-color: $white;
			color: $blue;
		}
	}
}

/* list template */

#list {
	padding: 0px 5px;
	.list-group-item {
		background-color: $blue;
		color: $white;
		border: none;
		height: 63px;
		a {
			text-decoration: none;
		}
		.circular-image {
			height: 42px;
			width: 42px;
			float: left;
			margin-right: 10px;
		}
		.user-text-container * {
			width: 140px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.list-group-item-heading, .list-group-item-text {
			color: $white;
		}
		&:hover {
			background-color: $dark-blue;
			cursor: pointer;
	  }
	}
}

/* profile template */

#profile {
	text-align: center;
	.circular-image {
		width: 200px;
		height: 200px;
		margin: 0px auto;
		border: 2px solid $white;
	}
	#information {
		font-size: 16px;
		color: $white;
		span {
			display: block;
		}
	}
}

/* tags template */

#tags {
	text-align: center;
	input, .tag {
		font-size: 1.1em;
		background-color: $white;
		color: $blue;
		display: inline-block;
		border-radius: 3px;
		@media (max-width: $mobile) {
			padding: 15px;
			margin: 3px;
		}
		@media (min-width: $mobile) {
			padding: 5px 10px;
			margin: 3px;
		}
		&:hover {
			background-color: $gray;
			cursor: pointer;
		}
	}
}

/* groups template */

#groups {
	color: $white;
	text-align: center;
}

/* filters */

#filters-container {
	height: 100%;
	position: relative;
	left: 25%;
	.dropdown {
		height: 100%;
	}
	button {
		height: 100%;
		background-color: $blue;
		color: $white;
	}
	ul {
		background-color: $white;
		li a:hover {
			background-color: $gray;
		}
	}
}

/* notifications */

#notifications {
	.message {
		color: $white;
		text-align: center;		
	}	
}

/* graph template */

.link {
  stroke: #ffffff;
  stroke-opacity: .6;
}
